.tooltip {
  position: fixed;
  background-color: rgb(241, 245, 249);
  border-radius: 0.25rem;
  border: 1px solid rgba(203, 213, 225, 0.5);
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 50;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  top: var(--tooltip-y);
  left: var(--tooltip-x);
}